@use "./reset.scss";

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.product-purchange-card {
  width: clamp(360px, 100vw, 800px);
  height: 568px;
  margin: 50px;
  padding: 16px 16px 10px;
  background-color: #fff;
}