/* function */
/* mixins */
/* media query */
body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

.container {
  display: flex;
  flex-flow: row wrap;
  margin: 50px 0;
}

.book__title {
  font-size: 36;
}
.book__cover {
  width: 60%;
  font-size: 1.5rem;
}
.book__info {
  display: inline-flex;
}
