@mixin pos($po: absolute, $t: null, $r: null, $b: null, $l: null) {
  position: $po;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

@mixin dis($di: inline-block, $w: 100%, $h: 100%) {
  display: $di;
  width: $w;
  height: $h;
}